.button {
  background-color: transparent;
  border-color: #966fff;
  color: #966fff;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
  font-weight: bold;
}

.badge {
  background-color: #966fff;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
}