.notification {
  width: 640px;
  margin: auto;
  height: 3rem;
  margin-top: 2rem;
  background-color: #865aff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  color: white;
}

.notification h2,
.notification p {
  font-size: 1rem;
  margin: 0;
}

.error {
  background-color: #690000;
}

.success {
  background-color: #00bf8a;
}